body {
    margin: 0;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    text-align: left;
    font-size: 2em;
}

#info iframe {
    overflow: none;
}

.greetings,
.questionnaire {
    padding: 0 50px 10px 50px;
}

.greetings button {
    width: 200px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 30px;
}

.questionnaire {
    padding-bottom: 10px;
}

.questions {
}

.question {
    margin-bottom: 40px;
}

.question p {
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 5px 0;
}

.question label {
    margin-right: 20px;
}

.question input[type="radio"]:checked + label{
    font-weight: bold;
    text-decoration: underline;
    color: magenta;
}
